
:root{
    --primary-font-size : 1rem;
    --secondary-font-size : 1.125rem;
    --third-font-size : 2rem;
    --title-font-size : 3rem;
    --primary-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* navigation section styles start */
header{
    background-color:  #131921;
}
.navbar-header > span{
    font-size: var(--third-font-size);
    color: #fff;
    margin-right: 1rem;
}
.navbar-header{
    padding: 6px 6px;
    gap: 20px;
    justify-content: space-between;
}
.nav-logo img{
    width: 100%;
    
}
.nav-logo{
    width: 100px;
}
.address-bar{
    flex-direction: column;
    color: var(--primary-color);
    align-items: normal;
    gap: 5px;
    gap: 0;
}
.address-bar > p{
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}
.search-box-container{
    /* border: 2px solid red; */
    width: 1000px;
}
#search-bx{
    width: 100%;
    background-color: #ffffff;
    color:  rgb(15, 17, 17);
    border: 0;
    outline: 0;
    padding: 11px;
    border-radius: 5px;
    padding-left: 7%;
}
#search-bx:focus{
    border: 5px solid  #F3A847;
}
.color-mg{
    background-color: #F3A847;
    color: #fff;
    padding: 10px;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 71.21%;
    top: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 22px;

}
#select{
    padding: 10px;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 417px;
    top: 31px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    background-color: transparent;
    border-right: 1px solid rgb(142, 137, 137,1);
}
.span-icon{
    gap: 8px;
}
.lang{
    width: 33px;
}
.lang img{
    width: 100%;
}
#dropdown-icon{
    background-color: transparent;
    color: #fff;
    border: none;
}
/* #numberSelect{
    background-color: #fff;
    
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: gray;
} */
/* .search-box i{
    background-color: #F3A847;
} */
/* .search-box{
    color: rgb(71, 71, 71);
} */
/* navigation section styles end */

/* shared styles start */
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.text-align{
    text-align: center;
}

/* shared styles end */