
:root{
    --primary-font-size : 1rem;
    --secondary-font-size : 1.125rem;
    --third-font-size : 2rem;
    --title-font-size : 3rem;
    --primary-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* navigation section styles start */
header{
    background-color:  #131921;
}
.navbar-header{
    padding: 6px 6px;
    gap: 20px;
}
.nav-logo img{
    width: 100%;
    
}
.nav-logo{
    width: 100px;
    border: 2px solid red;
}
.address-bar{
    border: 2px solid red;
    flex-direction: column;
    color: var(--primary-color);
    align-items: normal;
    gap: 5px;
    gap: 0;
}
.address-bar > p{
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}
.search-box-container
/* #numberSelect{
    background-color: #fff;
    background-color: #D4D4D4;
    color:  rgb(15, 17, 17);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: gray;
} */
/* .search-box i{
    background-color: #F3A847;
} */
/* .search-box{
    color: rgb(71, 71, 71);
} */
/* navigation section styles end */

/* shared styles start */
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.text-align{
    text-align: center;
}

/* shared styles end */