:root {
    --primary-font-size: 1rem;
    --secondary-font-size: 1.125rem;
    --third-font-size: 2rem;
    --title-font-size: 3rem;
    --primary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background: #E3E6E6;
    overflow-x: hidden;
}

/* navigation section styles start */
header {
    background-color: #131921;
}

.navbar-header>span {
    font-size: var(--third-font-size);
    color: #fff;
    margin-right: 1rem;
}

.navbar-header {
    padding: 6px 6px;
    gap: 20px;
    justify-content: space-between;
}

.nav-logo img {
    width: 100%;

}

.nav-logo {
    width: 100px;
}

.address-bar {
    flex-direction: column;
    color: var(--primary-color);
    align-items: normal;
    gap: 5px;
    gap: 0;
}

.address-bar>p {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}

/* .search-box-container {
    border: 2px solid red;
    width: 1000px;
} */

/* #search-bx {
    width: 100%;
    background-color: #ffffff;
    color: rgb(15, 17, 17);
    border: 0;
    outline: 0;
    padding: 11px;
    border-radius: 5px;
    padding-left: 7%;
} */

/* .search-box-container form:focus {
    border: 5px solid #F3A847;
}  */
.search-box-container form{
    width: 1000px;
    background: #fff;
    border-radius: 7px;
}
.search-box-container form input{
    padding: 16px;
    padding-left: 8%;
    border:0;
    outline: 0;
    background: transparent;
    width: 100%;
}
.box-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-icon span{
    background-color: #F3A847;
    font-size: 22px;
    padding: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #fff;
    cursor: pointer;
}
.color-mg{
    background: transparent;
}
#select {
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 417px;
    top: 31px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    background-color: transparent;
    border-right: 1px solid rgb(142, 137, 137, 1);
    outline: 0;
}

.span-icon {
    gap: 8px;
}

.lang {
    width: 33px;
}

.lang img {
    width: 100%;
}

#dropdown-icon {
    background-color: transparent;
    color: #fff;
    border: none;
}

.nav-color {
    list-style: none;
    justify-content: space-between;
    background-color: #232F3E;
    padding: 10px 8px;
}

.nav-color li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--primary-font-size);
    font-weight: 400;
    padding: calc(9px - 3px);
}

.nav-color li a:hover {
    border: 1px solid #fff;
}

/* navigation section styles end */

/* shared styles start */
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.text-align {
    text-align: center;
}

/* shared styles end */

/* banner section styles start */
.banner-container {
    position: relative;
}

.slider {
    position: relative;
    width: 80%;
    overflow: hidden;
    height: 76vh;
    margin: 0 auto;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: slide-animation 9s infinite;
}

.slide img {
    width: 100%;
    object-fit: contain;
}

.slide:nth-child(2) {
    /* background-color: #ff6f61; */
    animation-delay: 3s;
}

.slide:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slide-animation {
    0% {
        transform: translateX(100%);
    }

    10% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* banner section styles end */

/* banner items container styles start */

.banner-items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    gap: 18px;
    padding: 20px;
}

.banner-items {
    width: 350px;
    height: 420px;
    padding: 18px;
    background-color: #fff;
}

.banner-items h3 {
    font-size: var(--secondary-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 0.7px;
}

.item-box {
    gap: 30px;
    margin-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.items {
    width: 45%;
    flex: 1 1 33%;
}

.items img {
    width: 100%;
}

.items p {
    color: #857676;
    font-size: 14px;
}

.primary-btn {
    border: 0;
    outline: 0;
    color: steelblue;
    font-size: var(--primary-font-size);
}

.primary-btn:hover {
    color: rgb(199, 81, 31);
    cursor: pointer;
}

/* banner items container styles end */

/* product preview section styles start */
.product-preview-container {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.slides-content {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.slider-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.slider-image img {
    width: 100%;
}

.product-preview-content {
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
    gap: 30px;
}

.product {
    width: 450px;
    justify-content: space-between;
}

.product h3 {
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 20px 4px;
}

.product span {
    color: steelblue;
}

/* product preview section styles end */

.none {
    display: none;
}

/* kitchen section style start */
.kitchen-container ,
.home-appliance-container{
    width: 80%;
    margin: 0 auto;
}

.kitchen-content-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.grid-kitchen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 20px 10px;
}

#parent-div {
    width: 350px;
    background: white;
    padding: 24px 10px;
}

.kitchen-item {
    width: 80%;
}

.kitchen-item img {
    width: 136px;
    height: 130px;
    object-fit: cover;
}

.grid-kitchen a {
    text-align: left;
    text-decoration: none;
    font-size: var(--primary-font-size);
}

/* kitchen section style end */

/* .home-appliance-container styles start */
.home-appliance-container,
.display-grid-view{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.home-appliance-content{
    width: 350px;
    background: #fff;
    padding: 20px;
    margin-top: 50px;
}
.display-grid-view > div{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
.display-grid-view img{
    width: 100%;
    height: 60px;
}
.display-grid-view{
    padding-top: 12px;
}
.display-grid-view > div > h3{
    padding: 10px;
}
.home-img{
    width: 310px;
    height: 140px;
    object-fit: contain;
}
#home-img-id,
#home-img-id2,
#home-img-id3,
#home-img-id4{
    border: 3px solid steelblue;
}
/* .home-appliance-container styles end */